

  body {    
    margin: 0 !important;
    padding: 0 !important;
}
  
  .parent-container {
    overflow: hidden;
    position: fixed;
  }
  
  .background {
    background: url("https://i.ibb.co/rxNLvf9/spacebg1.jpg") repeat-x;
    height: 5600px;
    width: 4500px;
    animation: slide 320s linear infinite;
  }
  
  @keyframes slide{
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1692px, -400px, 0px);
    }
  }


  .container1 {
    position: relative;
    
  }

  .planet-css {    
    transition: transform .5s;
    transition: .5s;
    margin: 50px 0px 0px 420px;
    max-width: 420px;
    max-height: 420px;
    position: absolute;
    filter: brightness(75%)
    z-index: 1;
  }

  .planet-css:hover {      
      transform: scale(1.2);
      filter: brightness(30%);
        }

  .planet-css-label {
      position: absolute;
      max-width: 300px;
      margin: 250px 480px;
      z-index: 2;
  }

  .container2 {
    position: relative;
          }

  .planet-id {    
    transition: transform .5s;
    transition: .5s;
    position: absolute;
    margin: 220px 0px 0px 1260px;
    max-width: 660px;
    max-height: 660px;
    filter: brightness(75%)
    z-index: 1;
  }

  .planet-id:hover {      
      transform: scale(1.2);
      filter: brightness(30%);
        }

  .planet-id-label {
      position: absolute;
      max-width: 600px;
      margin: 550px 0px 0px 1300px;
      z-index: 2;
  }
  .container3 {
    position: relative;
          }

  .planet-blog {    
    transition: transform .5s;
    transition: .5s;
    position: absolute;
    margin: 600px 0px 0px 30px;
    max-width: 900px;
    max-height: 900px;
    filter: brightness(75%)
    z-index: 1;
  }

  .planet-blog:hover {      
      transform: scale(1.2);
      filter: brightness(30%);
        }

  .planet-blog-label {
      position: absolute;
      max-width: 600px;
      margin: 1020px 0px 0px 180px;
      z-index: 2;
  }

  .container4 {
    position: relative;
          }

  .planet-learn {    
    transition: transform .5s;
    transition: .5s;
    position: absolute;
    margin: 850px 0px 0px 1000px;
    max-width: 380px;
    max-height: 380px;
    filter: brightness(75%)
    z-index: 1;
  }

  .planet-learn:hover {      
      transform: scale(1.2);
      filter: brightness(30%);
        }

  .planet-learn-label {
      position: absolute;
      max-width: 400px;
      margin: 1040px 0px 0px 990px;
      z-index: 2;
  }